<div class="w-75 m-auto text-center text-white">
    <img src="assets/CryingChip404.gif" class="img-fluid">
    <h2>Page Not Found</h2>
</div>
<aside class="aside col-md-1 col-sm-2 col-2 d-flex flex-column justify-content-between">
    <div class="logo text-uppercase text-white mb-3">
        <img [src]="logSrc" class="w-100 py-2" routerLink="/admin" />
    </div>
    <div class="text-center aside-item mb-3">
        <i class="fas fa-arrow-left p-2 rounded-circle" routerLink="/admin"></i>
    </div>
    <div class="text-center text-white aside-item mb-3"></div>
</aside>