<router-outlet>
  <!-- Loading Spinner -->
  <div id="loader" [class.load]="loading" [ngClass]="(loading)?'d-block':'d-none'">

    <div id="arc_container">
      <div class="arc_reactor loaded-transform" id="arc_reactor">
        <div class="case_container">
          <div class="e7">
            <div class="semi_arc_3 e5_1">
              <div class="semi_arc_3 e5_2">
                <div class="semi_arc_3 e5_3">
                  <div class="semi_arc_3 e5_4"></div>
                </div>
              </div>
            </div>
            <div class="core2"></div>
          </div>
          <ul class="marks">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>


  </div>
  <!-- End Loading Spinner -->
</router-outlet>

<!-- Modal -->
<!-- Copy Right -->
<p class="text-center text-muted copyRight">© Copyright 2020
  <span class="text-uppercase">{{copyRight1}}</span>
  , Developed By
  <a [href]="copyRightUrl" class="text-muted text-uppercase" target="_blank">{{copyRight2}}</a>
</p>
<!-- End Copy Right -->